<div class="container mt-4">
    <h2>Panel de Administración</h2>
    <ul class="list-group mt-4">
        <li class="list-group-item"><a href="@Url.Action("CreateEquipo", "Admin")">Añadir Equipo</a></li>
        <li class="list-group-item"><a href="@Url.Action("CreateJugador", "Admin")">Añadir Jugador</a></li>
        <li class="list-group-item"><a href="@Url.Action("CreateGrupo", "Admin")">Crear Grupo</a></li>
        <li class="list-group-item"><a href="@Url.Action("AsignarEquipoGrupo", "Admin")">Asignar Equipo a Grupo</a></li>
        <li class="list-group-item"><a href="@Url.Action("ActualizarResultado", "Admin")">Actualizar Resultado de Partido</a></li>
    </ul>
</div>
